body {
    font-family: 'Arimo', sans-serif; /* Adicionado fallback para a fonte */
    color: #000000; /* Usar hex ao invés de nome da cor */
    text-decoration-color: #000000; /* Também em hex */
    margin: 2px;
    background-color: #ffffff;
    line-height: 1.6; /* Melhor legibilidade */
}

#street {
    font-size: 19px;
    margin-left: 30px;
    opacity: 0.85;
}

#find {
    font-size: 120px;
    opacity: 0.85;
}

#your {
    font-size: 120px;
    margin-left: 150px;
    opacity: 0.85;
}

#vibe {
    font-size: 150px;
    opacity: 0.85;
}

@media (max-width: 1500px) {
    #find {
        font-size: 150px;
        margin-left: 300px;
    }

    #your {
        font-size: 150px;
        margin-left: 400px;
    }

    #vibe {
        font-size: 150px;
        margin-left: 550px;
    }
}


/* Media Queries */
@media (max-width: 1200px) {
    #find {
        font-size: 150px;
        margin-left: 200px;
    }

    #your {
        font-size: 150px;
        margin-left: 130px;
    }

    #vibe {
        font-size: 150px;
        margin-left: 160;
    }
}

@media (max-width: 1000px) {
    #find {
        font-size: 110px;
        margin-left: 250px;
    }

    #your {
        font-size: 110px;
        margin-left: 180px;
    }

    #vibe {
        font-size: 120px;
        margin-left: 280px;
    }
}

@media (max-width: 900px) {
    #find {
        font-size: 110px;
        margin-left: 130px;
    }

    #your {
        font-size: 110px;
        margin-left: 190px;
    }

    #vibe {
        font-size: 120px;
        margin-left: 290px;
    }
}

@media (max-width: 700px) {
    #find {
        font-size: 100px;
        margin-left: 90px;
    }

    #your {
        font-size: 100px;
        margin-left: 150px;
    }

    #vibe {
        font-size: 100px;
        margin-left: 270px;
    }
}

@media (max-width: 600px) {
    #find {
        font-size: 100px;
        margin-left: 60px;
    }

    #your {
        font-size: 100px;
        margin-left: 100px;
    }

    #vibe {
        font-size: 100px;
        margin-left: 200px;
    }
}

@media (max-width: 500px) {
    #find {
        font-size: 100px;
        margin-left: 50px;
    }

    #your {
        font-size: 100px;
        margin-left: 90px;
    }

    #vibe {
        font-size: 100px;
        margin-left: 180px;
    }
}

#img {
    position: absolute;
    top: 0;       /* Alinha ao topo */
    right: 0;     /* Alinha à direita */
    height: 200px;
    width: 200px;
}

@media (max-width: 1500px) {
    #img {
        height: 280px;
        width: 280px;
    }
}

/* Para telas de até 1200px */
@media (max-width: 1200px) {
    #img {
        height: 280px;
        width: 280px;
    }
}

/* Para telas de até 1000px */
@media (max-width: 1000px) {
    #img {
        height: 290px;
        width: 290px;
    }
}

/* Para telas de até 800px */
@media (max-width: 800px) {
    #img {
        height: 200px;
        width: 200px;
    }
}

/* Para telas de até 600px */
@media (max-width: 600px) {
    #img {
        height: 180px;
        width: 180px;
    }
}

/* Para telas de até 400px */
@media (max-width: 400px) {
    #img {
        height: 120px;
        width: 120px;
    }
}

/* Para telas de até 300px */
@media (max-width: 300px) {
    #img {
        height: 130px;
        width: 130px;
    }
}




#efeito {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
}

#par {
    font-size: 30px;
    opacity: 1;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-230%); /* Começa fora da tela à esquerda */
        opacity: 0;                   /* Começa invisível */
    }
    100% {
        transform: translateX(0);     /* Termina na posição original */
        opacity: 1;                   /* Fica visível */
    }
}

/* Aplica a animação aos elementos desejados */
#find, #your, #vibe, #street, #img, #efeito, #par {
    animation: slideInFromLeft 1s ease forwards; /* Duração e estilo da animação */
    opacity: 0; /* Inicia invisível */
}

#find.show, #your.show, #vibe.show, #street.show, #img.show, #efeito.show, #par.show {
    opacity: 0.60; /* Torna visível quando a classe 'show' é adicionada */
}
